/*CSS Reset*/
* {
	/*part of css reset box, margin, padding*/
	box-sizing: border-box;
	margin: 0;
	padding: 0;
		
	/*google font poppins css style*/
	font-family: 'Poppins', sans-serif;	
}
.jumbotron {
	/*vh mean viewport height para sakop buong window 100% viewport height*/
	height: 85vh;
	margin-top: 1rem;
	color: white;
}

nav .navbar-brand {
	padding-bottom: 0.1rem;
}
/*.img {
	width: 95%;
}*/
footer {
	padding: 0.5rem;
	background-color: black;
	/*font color*/
	color: white;
	text-align: center;
}
#footer > div {
	display:  inline-block;
	width: 20%;
	/*para pumantay sa taas yung mga about us careers etc*/
	vertical-align: top;
}

#footer > div > * {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}
iframe {
	display: inline-flex;
	height: 90%;
}
ul .a {
	list-style-type: circle;
}

ul .b {
	padding-left: 1rem;
}
.about_color {
	padding-top: 1.5rem;
	padding-bottom: 2.5rem;
	background-color: black;
	color: white;
}
div .img {
	width: 52%;
}
